body {
  margin: 0;
  padding-top: 120px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;
  color: #fff;
}

:focus {
  outline: 2px solid blue;
}

#login-button {
  background-color: #375a7f;
  border: none;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(56, 82, 230);
}

/* Estilos para todos los formularios */
.form-label {
  font-size: 22px;
}

textarea {
  resize: none;
}
